
body{
    background-color: grey;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    color: grey;
    font-size: 30px;
    background-color: black;
    align-items: center;
    justify-content: center;
}

.mainContainer{
    display: flex;
    max-height: 80vh;
    width: 50vw;
    padding: 10px 5px;
    border: 2px solid black;
    margin: 15px auto;
    border-radius: 2vh;
}

.container{
    display: flex;
    width: 50vw;
    justify-content: center;
    overflow: hidden;
    text-align: center;
}

.container:hover{
    overflow-y: auto;
}

/* Custom Scrollbar */
.container::-webkit-scrollbar{
    width: 10px;
}
.container::-webkit-scrollbar-button{
    height: 1;
}
.container::-webkit-scrollbar-track{
    background-color: grey;
    border: 1px solid black;
    border-radius: 20px;
}
.container::-webkit-scrollbar-thumb {
    background: black;
    border: 2px solid black;
    border-radius: 20px;
}

.songitemcontainer{
    width: 45vw;
    padding: 5px;
}

.songitem{
    display: flex;
    height: 45px;
    padding: 0px 3px;
    border: 1px solid black;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    margin: 5px;
}

.songitem img{
    height: 40px;
    width: 40px;
    border-radius: 15px;
}
.songitem span img{
    height: 10px;
}
.timestamp img{
    cursor: pointer;

}

#footer{
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100vw;
    background: black;
    height: 70px;
    align-items: center;
    justify-content: center;
}

.bottom{
    visibility: hidden;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    border: 1px solid black;
    border-radius: 2cm;
    background: grey;
}

.icons{
    display: flex;
    cursor: pointer;
}

#masterPlay{
    display: none;
}

.icons img{
    padding: 5px;
    width: 15px;
    height: 15px;
}

.PPPN{
    display: flex;
    position: fixed;
}

/* Custom input type="range" */
#myProgressBar{
    -webkit-appearance: none;
    appearance: none;
    width: 50vw;
    height: 5px;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    background: linear-gradient(90deg, black 0%,#ddd 0%);

}
#myProgressBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
}
#myProgressBar::-moz-range-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    border: 0;
}

/* volume rocker */
.volRocker{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 85%;
    cursor: pointer;
}
.volRocker img{
    width: 16px;
    height: 15px;
}
#volH{
    display: unset;
}
#volOff{
    display: none;
}

#volRocker{
    -webkit-appearance: none;
    background-color: black;
    height: 3px;
    width: 60px;
}
#volRocker::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
}
#volRocker::-moz-range-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    border: 0;
}

@media only screen and (max-width: 680px) {
    .mainContainer{
        width: 90vw;
        justify-content: center;
    }
    .container{
        padding: 15px;
        width: 85vw;
    }
    .songitemcontainer{
        width: 89vw;
    }  
    .bottom{
        width: 80vw;
    }
    #myProgressBar{
        width: 70vw;
    }
}